body {
   height:100%;
   font-family: 'Radley', serif;
}

div {
    display:grid;
}

form {
    display:grid;
}


.container {
    display:grid;
    /* grid-template-columns:1fr 3fr 1fr; */
    grid-template-columns: repeat(12, [col-start] 1fr);
    grid-gap:10px;
}
.container > * {
    grid-column: col-start / span 12;
  }

#logo {
    grid-column: col-start 1/ span 1;
    background-color:pink;
    display:grid;
}

#main-head {
    font-size: 40px;
    grid-column: col-start 2/ span 10;
    text-align: center;
    color:rgb(238, 173, 52);
   
}

#navbar {
   grid-column: col-start / span 12;
   grid-row:2;
   height:45px;
   font-size:19px;
   display:flex;
   justify-content:center;
   background-color:rgb(238, 234, 234);
   max-width:100%;
}

#navbar a {
    float:left; 
    display:flex;
    letter-spacing:.2em;
    padding:12px;
    padding-left:40px;
    text-decoration: none;
    color:black;
    
}

#navbar a:hover {
    color:rgb(238, 173, 52);
    text-shadow: 20px 20px 0 0;
}

.content {
   
    padding: 16px;
    margin-bottom:40px;
  }
  
  /* The sticky class is added to the navbar with JS when it reaches its scroll position */
  .sticky {
    position: fixed;
    top: 0;
    width: 100%;
  }
  
  /* Add some top padding to the page content to prevent sudden quick movement (as the navigation bar gets a new position at the top of the page (position:fixed and top:0) */
  .sticky + .content {
    padding-top: 60px;
  }

#section-a {
    grid-row:3;
    grid-column: col-start / span 12;
    max-width:100%;
    height:400px;
    background-image:url(../images/friends.jpg);
    background-size: cover;
    background-repeat:no-repeat;
    max-width:100%;
}

.photo-me{
    
    justify-content:center;
    grid-row:3;
    grid-column: col-start 1 / span 3;

}

.photo-me img {
    max-width:100%;
}


.name-head{
   grid-column: col-start / span 12; 
   text-align: center;
   color:black;
}

.about-me-text {
    grid-column: col-start 4 / span 8;
    grid-row:3;
    font-size: 22px;
    padding-left:20px;
    float:left;
    line-height: 40px;
}

#section-b {
    grid-row:4;
    grid-column: col-start / span 12;
    font-size: 20px;
    text-align:center;
    padding-bottom:40px;
}

/* contact form */

.cont-form {
    grid-column: col-start 3 / span 8;
}

.cont-head {
    text-align:center;
    
}
.form-style {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.16);
    margin-bottom:40px;
}

input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
    text-decoration: none;
  }
  
  input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width:80px;
    text-decoration: none;
  }
  
  input[type=submit]:hover {
    background-color: #45a049;
  }
  



.footer {
    grid-column: col-start / span 12;
    grid-row:5;
    background-color:gray;
    color:black;
    background: #ebe8e8;
    font-size: 1rem;
    display:block;
    position:fixed;
    bottom:0;
    min-width:100%;
    padding-top:10px;
    font-weight:bold;
    
    
}

.footer p {
    float:left;
    padding-right:40px;
    padding-top:2px;
    padding-bottom:2px;
    justify-content:space-around;
    
}

@media (max-width: 414px) {

    #main-head {
        font-size: 20px;
    }

    #section-a {
        height:240px;
        display:flex;
        justify-content: center;
    }
    

    #navbar a {
        padding:12px;
        padding-left:20px;
        font-size:12px;
    }
    .photo-me{
        grid-column: col-start  / span 12;
        display:flex;
        justify-content: center;
    
    }

    .about-me-text {
        grid-column: col-start  / span 12;
        grid-row:5;
        font-size: 16px;
        text-align: center;
    }

    
}