body {
   height:100%;
   font-family: 'Radley', serif;
}


.container {
    display:grid;
    grid-template-columns:1fr 3fr 1fr;
}

#main-head {
    font-size: 40px;
    grid-column: 1 / 4;
    text-align: center;
   
}

#navbar {
   grid-column: 1 / 4;
   height:45px;
   font-size:19px;
   display:flex;
   justify-content:center;
   background-color:rgb(238, 234, 234);
   
}

#navbar a {
    float:left;
    display:flex;
    letter-spacing:.2em;
    display:block;
    padding:12px;
    padding-left:40px;
    text-decoration: none;
    color:black;
}

#navbar a:hover {
    background-color:rgb(233, 228, 218);
}

#section-a {
    grid-row:3;
    grid-column: 1 / 4;
   
   
}

#section-a-about {
    grid-row: 3;
    grid-column:1/4;
    
}

.about-me-text {
    float:left;
}

#section-b {
    grid-column:1/4;
    font-size: 20px;
    text-align:center;
}

#section-a .bg{
    height:400px;
    background-image:url(../images/friends.jpg);
    background-size: contain;
    background-size: cover;
    background-repeat:no-repeat;
   
    
}

.footer {
    grid-column:1/4;
    grid-row:4;
    background-color:gray;
    color:black;
    background: #ebe8e8;
    font-size: 1rem;
    display:block;
    
}

.footer p {
    float:left;
    padding-right:10px;
    padding-top:2px;
    padding-bottom:2px;
    justify-content:space-around;
    
}